html{
  background-color: slategray;
  font-family: cursive;
}
h1{
  text-emphasis: strong;
  text-align: left;
  font-size: 25px;
  top: 0;
}
ol{
  float: right;
  margin-top: 0px;
  position: absolute;
  right: 0;
  top: 10px;
}
center{
   height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
ol li{
  display: inline-block;
  padding-top: 10px;
}
.buttons a {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: none;
  background-color: white;
  border: 3px solid black;
  border-radius: 6px;
  padding: 0px;
  margin: 5px 5px;
}

/*this block above the comment is creating the buttons for our nav bar*/

li{
  list-style-type: none;
}
h2,h3,p,li{
  text-emphasis: bold;
  text-align: center;
}
a:link{color:black}
a:visited{color: indigo}
a:hover {color: whitesmoke}
a:active{color:plum}
iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  float: center;
  color: rgb(29, 9, 143);
  font-size: 11px;
  text-decoration: none;
  text-align: center;
  bottom: 0;
  width: 100%;
}
