html{
  background-color: slategray;
  font-family: cursive;
}
h1{
  text-emphasis: strong;
  text-align: left;
  font-size: 25px;
  padding-top: auto;
}
ol{
  float: right;
}
ol li{
  display: inline-block;
  padding-top: auto;
}
.buttons a {
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(7, 70, 35);
  border: 3px solid black;
  border-radius: 6px;
  padding: 0px;
  margin: 5px 5px;
}
//used an absolute placement of the nav bar to the nearest container which would be the header
nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
li{
  list-style-type: none;
}
h2,h3,p,li{
  text-emphasis: bold;
  text-align: center;
}
a:link{color:navy}
a:visited{color: indigo}
a:hover {color: whitesmoke}
a:active{color:plum}
iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  float: center;
  color: rgb(29, 9, 143);
  font-size: 11px;
  text-decoration: none;
  text-align: center;
  bottom: 0;
  width: 100%;
}
